:root {
    --feature-1-color: #34a0a4;
    --feature-2-color: #ffb489;
    --feature-3-color: #eb7878;
    --feature-4-color: #6fbfe1;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
}

.feature {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5px 0;

    height: 180px;
    width: 280px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.7em 1em;
    transition: all 0.2s;
}

.feature:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.feature-title {
    margin: 0;
    font-weight: 400;
}

.feature-subtitle {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    margin-top: 0.7em;
    color: rgba(0, 0, 0, 0.5);
}

.see-more {
    padding: 1em 0.8em;
    background-color: blue;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    cursor: pointer;
}

.see-more:hover {
    opacity: 0.8;
}

.feature1 .see-more {
    background-color: var(--feature-1-color);
}
.feature2 .see-more {
    background-color: var(--feature-2-color);
}
.feature3 .see-more {
    background-color: var(--feature-3-color);
}
.feature4 .see-more {
    background-color: var(--feature-4-color);
}

.feature1 {
    border-top: 4px solid var(--feature-1-color);
}
.feature2 {
    border-top: 4px solid var(--feature-2-color);
}
.feature3 {
    border-top: 4px solid var(--feature-3-color);
}
.feature4 {
    border-top: 4px solid var(--feature-4-color);
}

@media screen and (min-width: 1120px) {
    .container {
        flex-direction: row;
    }

    .container > div {
        margin: 0 0.3em;
    }
}
