.container {
    border: 1px solid black;
    height: 500px;
    width: 100%;
    background-color: tomato;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block {
    background-color: white;
    height: 50px;
    width: 50px;
}
