*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

body {
    font-family: 'Padauk', sans-serif;
}

section {
    background: rgb(194, 124, 59);
    height: 568px;
    width: 320px;
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 568px;
    width: 320px;
}

h1 {
    font-size: 30px;
}
