body {
    font-family: 'Chivo', sans-serif;
}

.contenu {
    display: flex;
    height: 500px;
}

.color1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
}
.color2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(99, 99, 241);
    padding: 20px;
}
.color3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(94, 214, 94);
    padding: 20px;
}

.titre {
    font-size: 40px;
    color: white;
}

.texte {
    font-size: 20px;
    color: white;
}
a {
    width: 70px;
}

.button1 {
    margin: 0;
    padding: 10px;
    border-radius: 30% / 80%;
    background-color: white;
    color: blue;
    text-decoration: none;
}

.button2 {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: rgb(99, 99, 241);
    text-decoration: none;
}

.button3 {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: rgb(94, 214, 94);
    text-decoration: none;
}

@media screen and (min-width: 468px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
} 
}