{% extends 'base.html.twig' %}


{% block body %}
    <h1>mon formulaire</h1>
    <form action="" method="post">
        <input type="text" name="champ" value="{{ champ }}">
        <input type="submit" value="Envoyez">
    </form>

{% endblock %}